.glow {
    position: absolute;
    font-size: 2rem;
    color: #222;
    cursor: pointer;
    text-align: center;
    margin: auto 0;
}

.glow::before {
    content: attr(data-text);
    position: absolute;
    color: #fff;
    background-color: #ff99ce;
    background-image:
        radial-gradient(at 35% 0%, hsla(212, 84%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 89% 48%, hsla(238, 69%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 89% 42%, hsla(313, 71%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 16% 6%, hsla(282, 82%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 31% 96%, hsla(45, 93%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 30% 2%, hsla(145, 84%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 18%, hsla(352, 78%, 74%, 1) 0px, transparent 50%);
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #ff99ce;
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}


/* flying card style */
.flyingpic1{
    /* background-image: url(./clip-strategic-plan-for-business.png); */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
    object-fit: cover;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: anima 6s linear;
}

@keyframes anima {
    0%{
        transform: translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%,-5000%);
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}